@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat+Alternates&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #141E46;
    height: 100vh;
    width:100%;


}


.imagem_linguagens{
    width: 50%;
}


.menu-apresentacao{
    color: #FFF5E0;
    font-size: 36px;
    font-family: Krona One;
}

.linguagens{
    color: #FF6969;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10%;
    gap: 0 40px;
}

.conteudo-escrito{
    width: 615px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.menu-paragrafo{
    color: #FFF5E0;
    font-size: 24px;
    font-family: Montserrat;
}
.buttons{
    display:flex;
    justify-content: space-between;
 
}
.button_link{
    background-color: #C70039;   
    width:200px;
    text-align: center;
    border-radius:16px;
    font-size:24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #FFF5E0;
    font-family: Montserrat;
    font-weight: 600;
}